<p>Congratulations! Your event &quot;%%title%%&quot; is now on Skippr.</p>

<p>Your event handle is &quot;%%handle%%&quot; and your direct joining link is &quot;http://skippr.co/g/%%handle%%&quot; </p>

<p>Attendees can join your event by entering this handle on skippr.co; or by using the direct link: </p>

<p>Share this handle or the link with your attendees by any means, including: 1. At your registration desk 2. On social media 3. Email, Text, Whatsapp</p>

<p>This handle will expire in 24 hours.</p>

<p>Please contact us by replying to this email if you have questions or face any problems.</p>

<p>Happy networking!</p>

<p>- The Skippr team.</p>